# This file is part of the EESSI-Scout, see https://github.com/trz42/eessi-scout
#
# author: Thomas Roeblitz (@trz42)
#
# license: GPLv2
#
name: Tests & Coverage

on: [push, pull_request, workflow_dispatch]

# Declare default permissions as read only.
permissions: read-all

jobs:
  tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.11'

      - name: Install EESSI-Scout (dev)
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]

      - name: Run tests with coverage
        run: pytest --cov=src --cov-report=xml --cov-report=term-missing

      - name: Upload coverage artifact
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: coverage-report
          path: coverage.xml
